<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2>Controle de operações na Api Person</h2>
      <h1 id="subs"></h1>
    </div>

    <script>
      let data = [];
      const websocket = new WebSocket("ws://localhost:5001/api/v1/person-api");

      websocket.onopen = function(event) {
        console.log("Successfully connected to websocket server");
      };

      websocket.onerror = function(error) {
        console.log("Error connecting to websocket server");
        console.log(error);
      };

      websocket.onmessage = function(event) {
        
        data.push(JSON.parse(event.data));
        document.getElementById("subs").innerText =
          data.length;
        console.log(data)
      };
    </script>
  </body>
</html>