<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Controle de operações na Api Person</h1>
      <h2 id="total"></h2>
      <ul id="list"></ul>
    </div>

    <script>
      let data = [];
      const websocket = new WebSocket("ws://localhost:5001/api/v1/person-api");

      websocket.onopen = function(event) {
        console.log("Successfully connected to websocket server");
      };

      websocket.onerror = function(error) {
        console.log("Error connecting to websocket server");
        console.log(error);
      };

      websocket.onmessage = function(event) {
        
        data.push(JSON.parse(event.data));
                 
          
        let list = document.getElementById('list');
        i = data.length -1;
        for( i ; i < data.length; i++){
            let item = document.createElement('li');
            item.appendChild(document.createTextNode(data[i]));
            list.appendChild(item);
        };

        document.getElementById("total").innerText =
            "Total: " + data.length;
        }
    </script>
  </body>
</html>